<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>AICE meeting</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
  <div id="app">
    <h1 id="title">AICE CLOUDミーティング</h1>
    <div id="join" v-show="!roomId">
      <div style="width:25%">
        <h2>ルームの選択</h2>
        
        <div>
          <form method="post" action="/" class="" onsubmit="return true">
            <p>
              <input name="name" placeholder="ユーザ名を入力してください" required />
            </p>
            <p>
              <input name="room_id" placeholder="ルーム名を入力してください" required value="room1" />
            </p>
            <button class="btn">ログイン</button>
          </form>
        </div>
      </div>
    </div>
    
  </div>

</body>
</html>